<!DOCTYPE html>
<html>
<head>
	<title>Wealth Pulse</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="content/css/wealthpulse.css">
	<link rel="stylesheet" href="content/lib/bootstrap/css/bootstrap.min.css" media="screen">
    <script src="content/lib/jquery-2.1.0/jquery.js"></script>
    <script src="content/lib/jquery-2.1.0/jquery.hotkeys.js"></script>
    <script src="content/lib/react-0.9.0-rc1/react.js"></script>
    <script src="content/lib/underscore-1.6.0/underscore.js"></script>
    <script src="content/lib/backbone-1.1.1/backbone.js"></script>
	<script src="content/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="content/lib/d3/d3.v3.min.js"></script>
</head>
<body>
    <script src="content/js/wealthpulse.js"></script>
</body>
</html>
