
body {
	font: 1em Arial, sans-serif;
}

div.report_title {
	font: bold 2.5em Arial, sans-serif;
	text-align: center;
}

div.report_subtitle {
    font: 1.2em Arial, sans-serif;
    text-align: center;
}

div.index_body {
	font: 1.5em Arial, sans-serif;
	text-align: center;
	padding: 1px;
}

div.back {
	font: bold 0.8em Arial, sans-serif;
	text-align: left;
}

table {
    border: 0px solid black;
	border-collapse: collapse;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

th, td {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	border: 0px solid black;
}

th {
	color: white;
	background: #404040;
}

td.currency {
	text-align: right;
}

td.positive {
	color: #1a1;
	background: white;
}

td.negative {
	color: #f44;
	background: white;
}

tr.grand_total {
    border-top: 1px solid black;
	font-weight: bold;
}

tr.empty {
	color: white;
	background: white;
}
