
body {
	padding-top: 60px;
}

.table th {
	text-align: center !important;
}

.table .currency {
	text-align: right;
}

.table td.no-border-top {
	border-top: 0px;
}

td.assets, td.income {
	color: #1a1;
	background: white;
}

td.liabilities, td.expenses {
	color: #f44;
	background: white;
}

tr.grand_total {
    border-top: 1px solid black;
	font-weight: bold;
}

.positive {
	color: #1a1;
}

.negative {
	color: #f44;
}

#command {
  margin-right: 5px;
}


/* line chart */

text {
  font-family: "Source Sans Pro", "Helvetica", Arial, sans-serif;
  font-size: 12px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  r: 5;
  stroke: steelblue;
  fill: steelblue;
  stroke-width: 1.5px;
}

.node-hover-rect {
  fill: #111;
  opacity: 0.9;
}

.node-hover-text {
  fill: #eee;
}
