<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="1.0.1" targetFramework="net45" />
  <package id="Nancy" version="0.21.1" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="0.21.1" targetFramework="net45" />
  <package id="Nancy.Viewengines.Nustache" version="0.21.1" targetFramework="net45" />
  <package id="Nustache" version="1.13.8.22" targetFramework="net45" />
</packages>